<!---from https://github.com/sibtc/django-upload-example/blob/master/mysite/templates/upload.html-->
{% extends 'base.html' %}
{% block content %}
<h2>Live Feed</h2>

<div>
    <video id="video" width="640" height="480" autoplay></video>
    <button id="snap">Snap Photo</button>
    <canvas id="canvas" width="640" height="480"></canvas>
    <!-- <img src="{% url 'app-livepred' %}" alt="{% url 'app-livepred' %}"> -->
    <!-- <textarea src="{% url 'app-livepred' %}"></textarea> -->
    <!--TODO figure out why we cant present the prediciton text in the live image-->
    <script>
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }
    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
    });
    </script>

    
    <!-- <video src={% url 'app-livefeed' %}></video> -->
    <!-- <video id="myVidPlayer" controls muted autoplay></video> -->
</div>
{% endblock %}
{}
