<!---from https://github.com/sibtc/django-upload-example/blob/master/mysite/templates/upload.html-->
{% extends 'base.html' %}

{% block content %}
<div>
  <h2 class="row justify-content-center" style="margin: 5%;">Upload</h2>
  <h3 class="row justify-content-center">select a picture of the suspected melanoma and press upload file</h3> 
  <h5 class="row justify-content-center">only .png/.jpg/.jpeg extensions will work </h4>

  <form method="post" enctype="multipart/form-data" class="row justify-content-center" style="margin: 5%;">
    {% csrf_token %}
    <div style="margin: 10%;">
      <input type="file" name="document">
      <button type="submit" class="btn-primary">Upload file</button>
    </div>
  </form>
  {% if url %}
    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
  {% endif %}
</div>
{% endblock %}
      